@import "./variables.css";
@import "./responsive.css";
@import "./animations/style.css";
@import "./header/style.css";
@import "./footer/style.css";
@import "./scene/style.css";

/* Base styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* SCROLL BAR STYLES */
/* width */
body::-webkit-scrollbar {
  width: calc(var(--default-spacing) * 0.7);
  background: var(--color-999);
}

/* Track */
body::-webkit-scrollbar-track {
  border-radius: var(--default-spacing);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--color-333);
}

body {
  overflow-y: hidden;
  background: var(--color-999);
}

header,
footer {
  height: 100vh;
  color: var(--color-FFF);
}

/* header section and footer */
header,
footer,
section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-monospace);
  max-width: 100%;
  margin: 0 auto;
}

/* application loader */
.loading {
  position: absolute;
  width: 100%;
  display: grid;
  height: 100vh;
  z-index: 9999;
  background: var(--color-000);
  color: var(--color-999);
  grid-template-rows:
    1fr calc(var(--default-spacing) * 10) var(--default-spacing)
    1fr;
  align-items: center;
  justify-content: center;
}

.loading--percent {
  position: relative;
}

.loading--animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading--animation div {
  position: absolute;
  border: calc(var(--default-spacing) * 0.4) solid var(--color-FFF);
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading--animation div:nth-child(2) {
  animation-delay: -0.5s;
}

.auto-play-wrapper {
  position: fixed;
  right: calc(var(--default-spacing) * 1.5);
  bottom: var(--default-spacing);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: calc(var(--default-spacing) * 1.5);
  align-items: center;
}

.auto-play-wrapper > .auto-play--check {
  cursor: pointer;
}
