/* Base styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header section and footer */
header, section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-monospace);
}
